html,
body {
  height: 100%;
}

.cover {
  align-items: center;
  background: #222 url('/img/stars.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  height: 100%;
  text-align: center;
}

.cover-caption {
  width: 100%;
}

.form-inline {
  display: flex;
  justify-content: center;
}