$cover-background: #222;
$cover-color: #fff;
$about-text-color: rgba(0, 0, 0, .8);

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.about {
  background: url('/img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}

.about-text {
  background: $about-text-color;
  color: $cover-color;
  padding: 1.875rem;
}

.section-content {
  padding: 5rem 0;
}

.cover {
  align-items: center;
  background: $cover-background url('/img/stars.jpg') center center no-repeat;
  background-size: cover;
  color: $cover-color;
  display: flex;
  height: 100%;
  text-align: center;
}

.cover-caption {
  width: 100%;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.footer-main {
  background: $cover-background;
  color: $cover-color;
  font-size: .8rem;
  list-style: none;
  padding: 2.5rem;
}
